@{
    ViewData["Title"] = "Registration";
}
@model Bank_Account.Models.RegisterViewModel

<a href="/login">Already Registered ? Please Login</a> 
<h2>Registration</h2>
<form asp-controller="Home" asp-action="register" method="post" >
    <label asp-for="first_name"></label><input asp-for="first_name"/><span asp-validation-for="first_name"></span>
    <label asp-for="last_name"></label><input asp-for="last_name"/><span asp-validation-for="last_name"></span>
    <label asp-for="email"></label><input asp-for="email"/><span asp-validation-for="email"></span>
    <label asp-for="password"></label><input asp-for="password"/><span asp-validation-for="password"></span>
    <label asp-for="confirm"></label><input asp-for="confirm"/><span asp-validation-for="confirm"></span>
    <p><button type="submit">Create new User</button></p>
</form>




